[parity]
base_path = "/srv/ducatusx/"
chain = "/srv/config/chain.json"
db_path = "/srv/ducatusx/chains"
keys_path = "/srv/keys"
identity = ""
light = false

[network]
allow_ips = "public"
port = 30300

[rpc]
interface = "all"
cors = ["all"]
port = 8545
apis = ["web3", "eth", "net", "personal", "parity", "parity_pubsub", "shh", "shh_pubsub", "parity_set", "traces", "rpc", "parity_accounts", "pubsub"]

[websockets]
apis = ["web3", "eth", "net", "personal", "parity", "parity_set", "traces", "rpc", "parity_accounts", "pubsub"]
disable = false
interface = "all"
max_connections = 10000
port = 8455

[footprint]
db_compaction = "hdd"
fat_db = "on"

[ipc]
disable = false

[misc]
logging = "own_tx=trace"
log_file = "/srv/ducatusx/debug.log"
color = true

[account]
password = ["/srv/config/node.pwd"]

[mining]
engine_signer = "{{ node_eth_address }}"
reseal_on_txs = "own"
force_sealing = false
min_gas_price = 0x77359400